---
import '../styles/index.scss'

import ProjectCard from '../components/ProjectCard.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
const projects = [
	{
		name: 'FiniteViz',
		description:
			'Web-based Finite Element Mesh Generator for creating and visualising Finite Element meshes on the web.',
		link: 'https://github.com/chubi-x/FiniteViz',
		thumbnail: '/images/projects/finiteViz.jpg',
		tools: ['react', 'threejs', 'c++', 'flask', 'redis', 'docker', 'rabbitmq']
	},
	{
		name: 'Sorta',
		description: 'an app that lets twitter users manage and categorize their bookmarks.',
		link: 'https://github.com/chubi-x/sorta',
		thumbnail: '/images/projects/sorta.jpg',
		tools: ['typescript', 'react', 'tailwindcss', 'expressjs', 'firebase', 'twitterAPI']
	},
	{
		name: 'OrthoForum',
		description: 'Forum for Orthodox Christian Content.',
		link: 'https://github.com/chubi-x/orthoforum',
		thumbnail: '/images/projects/orthoforum.png',
		tools: ['react', 'inertiajs', 'laravel', 'tailwindcss']
	},
	{
		name: 'World Airports Dashboard',
		description:
			'A dashboard visualising US and World airport information, including international routes between countries and the relationship between airport count and annual C02 emissions.',
		link: 'https://github.com/chubi-x/world-airports',
		thumbnail: '/images/projects/airports.jpg',
		tools: ['python', 'jupyter notebook', 'altair']
	},
	{
		name: 'Sort-it-Image-Classifier',
		description:
			'Sort-it is an image classification application that classifies images of cats, dogs, bicycles, cars, and motorcycles.',
		link: 'https://github.com/chubi-x/Sort-it-Image-Classifier',
		thumbnail: '/images/projects/finiteViz.jpg',
		tools: ['python', 'tensorflow', 'pandas']
	},
	{
		name: 'England Dev Jobs',
		description: 'Glassdoor webscrape for Developer jobs in England',
		link: 'https://github.com/chubi-x/dev-jobs-in-england-scrape',
		thumbnail: '/images/projects/finiteViz.jpg',
		tools: ['python', 'selenium']
	},

	{
		name: 'Ball Academy',
		description: 'Landing page for a fictional basketball academy',
		link: 'https://github.com/chubi-x/ball-academy-landing-page',
		thumbnail: '/images/projects/finiteViz.jpg',
		tools: ['sass', 'tailwindcss', 'javascript']
	}
]

const testimonials = [
	{
		name: 'Professor Wulf Dettmer',
		job: 'Professor of Aerospace Engineering, Swansea University',
		link: 'https://www.linkedin.com/in/wulf-dettmer-bbab09a/',
		testimonial:
			'Chubi did a very good job on his masters dissertation and it was a pleasure working with him. I learnt a lot myself and am keen to continue building on his work.'
	},
	{
		name: 'Ojima Aniegboka',
		job: 'Senior Product Designer, GoCo.io',
		link: 'https://www.linkedin.com/in/ojima-aniegboka/',
		testimonial:
			'Chubi is not only a genius problem-solver but also an exceptional collaborator. His willingness to listen, share ideas, and work seamlessly within a team environment is truly admirable. He elevates the whole team with his expertise and positive attitude, making every project a success.'
	},
	{
		name: 'Professor Wulf Dettmer',
		job: 'Professor of Aerospace Engineering, Swansea University',
		link: 'https://www.linkedin.com/in/wulf-dettmer-bbab09a/',
		testimonial:
			'Chubi did a very good job on his masters dissertation and it was a pleasure working with him. I learnt a lot myself and am keen to continue building on his work.'
	},
	{
		name: 'Professor Wulf Dettmer',
		job: 'Professor of Aerospace Engineering, Swansea University',
		link: 'https://www.linkedin.com/in/wulf-dettmer-bbab09a/',
		testimonial:
			'Chubi did a very good job on his masters dissertation and it was a pleasure working with him. I learnt a lot myself and am keen to continue building on his work.'
	},
	{
		name: 'Professor Wulf Dettmer',
		job: 'Professor of Aerospace Engineering Swansea University',
		link: 'https://www.linkedin.com/in/wulf-dettmer-bbab09a/',
		testimonial:
			'Chubi did a very good job on his masters dissertation and it was a pleasure working with him. I learnt a lot myself and am keen to continue building on his work.'
	}
]
---

<BaseLayout title='Chubi - Software Engineer'>
	<section class='hero'>
		<div class='content content-left'>
			<h2 id='hero-text' class='text' data-expand-1 data-splitting>
				hi, i'm chubi.<br />
				welcome<br />
				to my
				<span class='expanding-text expanding-text--inline'>
					<span class='expanding-text-img'>
						<span
							class='expanding-text-img-inner'
							style='background-image: url(/images/self3.jpeg);'
						>
						</span>
					</span>
					<span class='anim'>cyber space.</span>
				</span>
			</h2>

			<p class='block'>
				I'm a versatile full-stack software engineer driven by a passion for making
				beautiful things. With over 3 years of diverse industry experience spanning
				e-commerce, education, and my current role in the environmental sector, I
				specialize in developing data-driven products that drive positive change on a
				global scale.
			</p>
		</div>
	</section>
	<div class='content content--center'>
		<h3 class='title'>Techne</h3>
		<h2 class='text' data-expand-2>
			Technical skill <br />
			is mastery of complexity<br />
			<span class='expanding-text expanding-text--center'>
				<span class='aright'>while </span>
				<span class='expanding-text-img'>
					<span
						class='expanding-text-img-inner'
						style='background-image: url(/images/self1.jpeg);'></span>
				</span>
				<span class='anim'>creativity</span>
			</span>
			<br />
			is mastery of simplicity.
		</h2>
		<p class='block'>
			<a
				rel='noopener'
				target='_blank'
				href='https://knowyourmeme.com/memes/inside-you-there-are-two-wolves'
				>Inside me are two wolves</a
			>. One fascinated with the complexities of modern software, and the other attracted to
			minimalism and simplicty. As an engineer, i harness the strengths of both wolves to
			balance complexity and simplicity in all my work. In other words, i use complex tools
			to create simple solutions.
		</p>
	</div>
	<div class='tools'>
		<h1>The Tools I use</h1>
		<div class='frontend-wrapper'>
			<h3>Frontend</h3>
			<div class='frontend embla'>
				<div class='embla__container'>
					<div class='embla__slide'>
						<img src='/icons/html.svg' alt='html icon' />
						<p class='tool-name'>html</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/css.svg' alt='css icon' />
						<p class='tool-name'>css</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/tailwindcss.svg' alt='tailwindcss icon' />
						<p class='tool-name'>tailwindcss</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/bootstrap.svg' alt='bootstrap icon' />
						<p class='tool-name'>bootstrap</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/sass.svg' alt='sass icon' />
						<p class='tool-name'>sass</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/js.svg' alt='javascript icon' />
						<p class='tool-name'>javascript</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/typescript.svg' alt='typescript icon' />
						<p class='tool-name'>typescript</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/jquery.svg' alt='jquery icon' />
						<p class='tool-name'>jquery</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/react.svg' alt='react icon' />
						<p class='tool-name'>react</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/reactquery.svg' alt='reactquery icon' />
						<p class='tool-name'>reactquery</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/html.svg' alt='html icon' />
						<p class='tool-name'>html</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/css.svg' alt='css icon' />
						<p class='tool-name'>css</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/tailwindcss.svg' alt='tailwindcss icon' />
						<p class='tool-name'>tailwindcss</p>
					</div>
				</div>
			</div>
		</div>
		<div class='backend-wrapper'>
			<h3>Backend & Infra</h3>
			<div class='backend embla'>
				<div class='embla__container'>
					<div class='embla__slide'>
						<img src='/icons/linux.svg' alt='linux icon' />
						<p class='tool-name'>linux</p>
					</div>

					<div class='embla__slide'>
						<img src='/icons/java.svg' alt='java icon' />
						<p class='tool-name'>java</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/cplusplus.svg' alt='cplusplus icon' />
						<p class='tool-name'>c++</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/python.svg' alt='python icon' />
						<p class='tool-name'>python</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/node.svg' alt='node icon' />
						<p class='tool-name'>nodejs</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/django.svg' alt='django icon' />
						<p class='tool-name'>django</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/nestjs.svg' alt='nestjs icon' />
						<p class='tool-name'>nestjs</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/git.svg' alt='git icon' />
						<p class='tool-name'>git</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/docker.svg' alt=' icon' />
						<p class='tool-name'>docker</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/nginx.svg' alt='nginx icon' />
						<p class='tool-name'>nginx</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/postgresql.svg' alt='postgresql icon' />
						<p class='tool-name'>postgresql</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/aws.svg' alt='aws icon' />
						<p class='tool-name'>aws</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/jenkins.svg' alt='jenkins icon' />
						<p class='tool-name'>jenkins</p>
					</div>
					<div class='embla__slide'>
						<img src='/icons/rabbitmq.svg' alt='rabbitmq icon' />
						<p class='tool-name'>rabbitmq</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class='projects'>
		<h1 class='projects-header'>Stuff I've Built</h1>
		<div class='projects-cards-wrapper'>
			<div class='projects-cards'>
				{projects.slice(0, 4).map((project) => <ProjectCard project={project} />)}
			</div>
			<a href='/projects' rel='noopener' target='_blank' class='btn btn-outline p-10'
				>see more</a
			>
		</div>
	</section>

	<section class='testimonials'>
		<h1>From People I've Worked With</h1>
		<div class='testimonial-cards-wrapper embla'>
			<div class='testimonial-cards embla__container'>
				{
					testimonials.map((person) => (
						<div class='testimonial-card embla__slide'>
							<p>{person.testimonial}</p>
							<h3 class='name'>
								<a href={person.link} rel='noopener' target='_blank'>
									{person.name}
								</a>
							</h3>
							<span class='job'>{person.job}</span>
						</div>
					))
				}
			</div>
		</div>
	</section>

	<section class='hobbies'>
		<div class='content content--right'>
			<h3 class='title'>Hobbies</h3>
			<h2 class='text' data-expand-3>
				I am not an artist<br />
				or a photographer<br />
				<span class='expanding-text expanding-text--full'>
					<span class='expanding-text-img'>
						<span
							class='expanding-text-img-inner'
							style='background-image: url(/images/8.jpeg);'></span>
					</span>
				</span>
				I draw un-symmetric lines<br />
				and take subpar pictures.
			</h2>
			<p class='block'>
				When I was 15 I discovered I enjoyed snapping pics on my phone. At 18 I discovered
				I enjoyed scribbling lines on paper. What you're about to see is my exploration of
				how bad I am at both. Scroll at your own peril.
			</p>
		</div>
		<div class='hobbies-grid hobbies-grid--4'>
			<div class='hobbies-grid-wrap'>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/1.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/2.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/3.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/4.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/5.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/6.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/7.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/19.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/8.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/9.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/10.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/11.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/12.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/13.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/14.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/15.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/16.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/17.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/18.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/19.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/20.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/21.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/22.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/23.png)'
					>
					</div>
				</div>
			</div>
		</div>
		<div class='hobbies__title'>
			<h3>Visual manifestations of my mind's eye</h3>
			<div class='video-container'>
				<video loop autoplay poster='/images/poster.jpeg'>
					<source src='/videos/timelapse.mp4' type='video/mp4' />
					<img
						alt='a timelapse of me drawing abstract art'
						src='/images/poster.jpeg'
						title='No video playback capabilities'
					/>
				</video>
			</div>

			<a href='#' class='btn btn-outline p-10'>see my work</a>
		</div>
	</section>
	<section class='blog'>
		<div class='blog-cards-wrapper'>
			<h1>I write about everything and nothing. Read my mind ramblings</h1>
			<div class='blog-cards'>
				<div class='blog-card' style='background-image: url(/images/blog/1_.jpg);'>
					<div class='blog-card-description'>
						<h3 class='title'>Title of my blog post</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quod
							quaerat nisi repudiandae esse ullam sunt itaque eius, temporibus
							voluptate veniam odio corporis inventore accusamus hic molestiae
							incidunt! Minima, explicabo.
						</p>
						<a href='#'>
							<span>read more </span>
							<img src='/icons/arrow.svg' alt='arrow' />
						</a>
					</div>
				</div>
				<div class='blog-card' style='background-image: url(/images/blog/2_.jpg);'>
					<div class='blog-card-description'>
						<h3 class='title'>Title of my blog post</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quod
							quaerat nisi repudiandae esse ullam sunt itaque eius, temporibus
							voluptate veniam odio corporis inventore accusamus hic molestiae
							incidunt! Minima, explicabo.
						</p>
						<a href='#'>
							<span>read more </span>
							<img src='/icons/arrow.svg' alt='arrow' />
						</a>
					</div>
				</div>
				<div class='blog-card' style='background-image: url(/images/blog/3_.jpg);'>
					<div class='blog-card-description'>
						<h3 class='title'>Title of my blog post</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quod
							quaerat nisi repudiandae esse ullam sunt itaque eius, temporibus
							voluptate veniam odio corporis inventore accusamus hic molestiae
							incidunt! Minima, explicabo.
						</p>
						<a href='#'>
							<span>read more </span>
							<img src='/icons/arrow.svg' alt='arrow' />
						</a>
					</div>
				</div>
			</div>
		</div>
		<a href='#' class='btn btn-outline p-10'>read sum more</a>
	</section>
	<script>
		import EmblaCarousel, { type EmblaOptionsType } from 'embla-carousel'
		import AutoScroll from 'embla-carousel-auto-scroll'

		const carousels = document.querySelectorAll('.embla')
		const options: EmblaOptionsType = { loop: true, dragFree: true }
		carousels.forEach((carousel, index) => {
			EmblaCarousel(carousel, options, [
				AutoScroll({
					playOnInit: true,
					stopOnInteraction: false,
					speed: carousel.classList.contains('testimonial-cards-wrapper') ? 1 : 2
				})
			])
		})
	</script>
	<script src='../js/about.js'></script>
</BaseLayout>
