---
import ProjectCard from '../components/ProjectCard.astro'
import BlogCard from '../components/BlogCard.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { projects, testimonials } from '../js/data'
import { getCollection } from 'astro:content'
import '../styles/index.scss'
import '../styles/projects.scss'

const posts = await getCollection('blog')
---

<BaseLayout title='Chubi - Software Engineer'>
	<section class='hero'>
		<div class='content content-left'>
			<h2 id='hero-text' class='text' data-expand-1 data-splitting>
				hi, i'm chubi.<br />
				welcome<br />
				to my
				<span class='expanding-text expanding-text--inline'>
					<span class='expanding-text-img'>
						<span
							class='expanding-text-img-inner'
							style='background-image: url(/images/self2.jpeg);'
						>
						</span>
					</span>
					<span class='anim'>cyber space.</span>
				</span>
			</h2>

			<p class='block'>
				I'm a versatile full-stack software developer on a journey towards mastery, driven
				by a passion for making good and beautiful things. I help companies solve difficult and interesting
        problems with code, and i love to build things that make life easier for people.
			</p>
		</div>
	</section>
	<div class='content content--center'>
		<h3 class='title'>Techne</h3>
		<h2 class='text' data-expand-2>
			<span class='content--center-text'>Technical skill</span>
			<span class='content--center-text'>is mastery of complexity</span>
			<span class='expanding-text expanding-text--center'>
				<span class='aright'>while </span>
				<span class='expanding-text-img'>
					<span
						class='expanding-text-img-inner'
						style='background-image: url(/images/self4.jpeg);'></span>
				</span>
				<span class='anim'>creativity</span>
			</span>
			<span class='content--center-text'>is mastery of simplicity.</span>
		</h2>
		<p class='block'>
			<a
				rel='noopener'
				target='_blank'
				href='https://knowyourmeme.com/memes/inside-you-there-are-two-wolves'
				>Inside me are two wolves</a
			>. One fascinated with the complexities of modern software, and the other attracted to
			minimalism and simplicty. As an engineer, i harness the strengths of both wolves to
			balance complexity and simplicity in all my work. In other words, i use complex tools
			to create simple solutions.
		</p>
	</div>
	<div class='tools'>
		<h1>The Tools I use</h1>
		<div class='frontend-wrapper'>
			<h2>Frontend</h2>
			<div class='frontend embla'>
				<div class='embla__container'>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/html.svg); width: 100%;'></div>
						<p class='tool-name'>html</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/css.svg); width: 100%;'></div>
						<p class='tool-name'>css</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/tailwindcss.svg); width: 100%;'>
						</div>
						<p class='tool-name'>tailwindcss</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/bootstrap.svg); width: 100%;'>
						</div>
						<p class='tool-name'>bootstrap</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/sass.svg); width: 100%;'></div>
						<p class='tool-name'>sass</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/js.svg); width: 100%;'></div>
						<p class='tool-name'>javascript</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/typescript.svg); width: 100%;'>
						</div>
						<p class='tool-name'>typescript</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/jquery.svg); width: 100%;'></div>
						<p class='tool-name'>jquery</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/react.svg); width: 100%;'></div>
						<p class='tool-name'>react</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/reactquery.svg); width: 100%;'>
						</div>
						<p class='tool-name'>reactquery</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/html.svg); width: 100%;'></div>
						<p class='tool-name'>html</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/css.svg); width: 100%;'></div>
						<p class='tool-name'>css</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/tailwindcss.svg); width: 100%;'>
						</div>
						<p class='tool-name'>tailwindcss</p>
					</div>
				</div>
			</div>
		</div>
		<div class='backend-wrapper'>
			<h2>Backend & Infra</h2>
			<div class='backend embla'>
				<div class='embla__container'>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/linux.svg); width: 100%;'></div>
						<p class='tool-name'>linux</p>
					</div>

					<div class='embla__slide'>
						<div style='background-image: url(/svgs/python.svg); width: 100%;'></div>
						<p class='tool-name'>python</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/node.svg); width: 100%;'></div>
						<p class='tool-name'>nodejs</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/django.svg); width: 100%;'></div>
						<p class='tool-name'>django</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/git.svg); width: 100%;'></div>
						<p class='tool-name'>git</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/node.svg); width: 100%;'></div>
						<p class='tool-name'>nodejs</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/docker.svg); width: 100%;'></div>
						<p class='tool-name'>docker</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/nginx.svg); width: 100%;'></div>
						<p class='tool-name'>nginx</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/postgresql.svg); width: 100%;'>
						</div>
						<p class='tool-name'>postgresql</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/aws.svg); width: 100%;'></div>
						<p class='tool-name'>aws</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/jenkins.svg); width: 100%;'></div>
						<p class='tool-name'>jenkins</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/postgresql.svg); width: 100%;'>
						</div>
						<p class='tool-name'>postgresql</p>
					</div>
					<div class='embla__slide'>
						<div style='background-image: url(/svgs/rabbitmq.svg);width:100%;'></div>
						<p class='tool-name'>rabbitmq</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class='projects'>
		<h1 class='projects-header'>Things I've Built</h1>
		<div class='projects-cards-wrapper'>
			<div class='projects-cards'>
				{
					[...projects().entries()]
						.slice(0, 4)
						.map((projectKeyValuePair) => (
							<ProjectCard
								id={projectKeyValuePair[0]}
								project={projectKeyValuePair[1]}
							/>
						))
				}
			</div>
      <a href='https://github.com/chubi-x' rel='noopener' class='btn btn-outline p-10'>see more</a>
		</div>
	</section>

	<section class='testimonials'>
		<h1>From People I've Worked With</h1>
		<div class='testimonial-cards-wrapper embla'>
			<div class='testimonial-cards embla__container'>
				{
					testimonials.map((person) => (
						<div class='testimonial-card embla__slide'>
							<p>{person.testimonial}</p>
							<h2 class='name'>
								<a href={person.link} rel='noopener' target='_blank'>
									{person.name}
								</a>
							</h2>
							<span class='job'>{person.job}</span>
						</div>
					))
				}
			</div>
		</div>
	</section>

	 <section class='blog'>
		<div class='blog-cards-wrapper'>
			<h1>I write about everything and nothing. Read my mind ramblings</h1>
			<div class='blog-cards'>
				{posts.slice(0,3).map((blog) => (
					<BlogCard blog={blog} />
				))}
			</div>
		</div>
		<a href='/blog' class='btn btn-outline p-10'>read sum more</a>
	</section>
	<script>
		import EmblaCarousel, { type EmblaOptionsType } from 'embla-carousel'
		import AutoScroll from 'embla-carousel-auto-scroll'

		const options: EmblaOptionsType = { loop: true, dragFree: true }
		document.querySelectorAll('.embla').forEach((carousel, index) => {
			EmblaCarousel(carousel, options, [
				AutoScroll({
					playOnInit: true,
					stopOnInteraction: false,
					speed: carousel.classList.contains('testimonial-cards-wrapper') ? 1 : 2
				})
			])
		})
	</script>
	<script src='../js/index.js'></script>
</BaseLayout>
