---
const { name, description, thumbnail, link, tools } = Astro.props.project
---

<div class='card' style=`background-image: url("${thumbnail}");`>
	<div class='card-description'>
		<h3><a href={link}>{name}</a></h3>
		<p>
			{description}
		</p>
		<div class='card-technologies'>
			{tools?.map((tool) => <span class='card-technologies-pill'>{tool}</span>)}
		</div>
	</div>
</div>
