---
const { name, description, thumbnail, link, tools } = Astro.props.project
const id = Astro.props.id
---

<a class='card' href=`projects/${id}` style=`background-image: url("${thumbnail}");`>
	<div class='card-description'>
		<h3>{name}</h3>
		<p>
			{description}
		</p>
		<div class='card-technologies'>
			{tools?.map((tool) => <span class='card-technologies-pill'>{tool}</span>)}
		</div>
	</div>
</a>
